* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h1 {
  text-shadow: 0 0 4px #222222;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(248, 250, 242, 1) 60%,
    rgba(0, 212, 255, 1) 100%
  );
}
h1,
h2 {
  font-family: cursive;
  font-size: 45px;
  color: #22a39f;
  text-align: center;
}
#font-size {
  font-size: 35px;
}
hr.rounded {
  border-top: 4px solid #bbb;
  border-radius: 5px;
}
p {
  color: #222222;
  font-size: 15px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.align {
  width: 750px;
  height: 230px;
  background: lightblue;
  border-radius: 40px;
  margin: auto;
  padding: 1px;
}
button {
  background-color: #f4511e;
  border: none;
  font-size: 20px;
  color: #ffffff;
  padding: 20px;
  width: 15%;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  color: #f5a962;
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
