* {
  background-color: #f3efe0;
}
h1 {
  color: #222222;
  text-align: center;
}
p {
  color: red;
}
/* color #332C39-black
#434242 -gray
#222222- black
#22A39F -teal
resource https://colorhunt.co/palettes/retro
*/
